<div class="navbar" appNonSelectable>
    <img routerLink="/players" class="icon" src="assets/favicon.ico" [height]="50">
    <h2 class="nav-item" routerLink="/players" routerLinkActive="active">Joueurs</h2>
    <h2 class="nav-item" routerLink="/sneakers" routerLinkActive="active">Sneakers</h2>
    <h2 class="nav-item" routerLink="/marques" routerLinkActive="active">Marques</h2>
    <h2 class="nav-item" routerLink="/top" routerLinkActive="active">Top</h2>
    <h2 class="nav-item" routerLink="/compare" routerLinkActive="active">Comparer</h2>
    <h2 class="nav-item" routerLink="/quiz" routerLinkActive="active">Quiz</h2>
</div>
