.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.63);
  border-radius: 10px;
  transition: 0.3s;
  min-width: 239px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin :10px;
  
}

 
.wrapper{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.63);
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(229, 235, 240);
  
}




.card:hover> .container>.face{
  transform: scale(1.5) translate(35px, 15px);
  transition: 900ms;
}

.container {
  padding: 6px 15px;
  position: relative;
  overflow: hidden;
}



p,span {
  font-family:"Poppins" ,'Arial Narrow Bold', sans-serif;
  
}

p{
  color:rgb(27, 26, 26)
}


.background {
  position: absolute;
  top:18%;
  left:4%;
  font-size: 100px;
  font-weight:800;
  z-index: 1; 
  color:rgb(40, 39, 39);
}

.foreground{
  position: relative;
  z-index: 2;
  transition: 900ms;

}


.face{
  position: relative;
  width: 180px;
  z-index: 3;
}

//logo fixe
// .logoFranchise{
//   width: 60px;
// }


/* logo qui apparait  lors du hover
.logoFranchise{
  width: 60px;
  position: relative;
  z-index:1;
  visibility: hidden;
}

.card:hover> .container>.logoFranchise{
     visibility :visible;
}
*/

.logoFranchise{
  width: 60px;
  position: absolute;
  z-index:0;
  bottom:-70px;
  right:0;
  visibility: hidden;
}

.card:hover> .container>.logoFranchise{
  transform: scale(1.50) translate(-95px, -55px);
  transition: 1200ms;
  visibility :visible;
}

